.ShopContainer {
  display: flex;
}
.ShopContent {
  width: 70%;
  margin-left: 5%;
  margin-right: 5px;
  border-right: 1px solid lightgrey;
}
.cartContainer h1 {
  text-align: center;
}
.OrderSummary {
  margin-left: 5px;
}
td.tableQty {
  margin: 14px;
  padding: 5px 100px;
}
.total-row {
  font-size: 20px;
  color: deeppink;
  font-weight: bold;
}
.cartContainer {
  display: block;
  text-align: center;
}
