.MainCountian {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  padding: 10px;
}
.img {
  margin-right: 50px;
  width: 20%;
}

.ProductInformation {
  margin-right: 100px;
  width: 40%;
}
.ProductDescription {
  margin-top: 50px;
}
.productName h1 {
  font-size: 15px;
  text-align: center;
}
.cartButton {
  width: 150px;
  height: 40px;
  background-color: goldenrod;
  border: 1px solid greenyellow;
  border-radius: 8px;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s ease;
}
.cartButton:hover {
  background-color: crimson;
  color: darkgray;
}
